

.table {
	border-collapse: collapse;
	border: 1px solid #ced6da;
	thead {
    $link-icon-color: #fff;
		color: #FFF;
		background: #00748d;
		background: -moz-linear-gradient(top, #00748d 0%, #01697f 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00748d), color-stop(100%, #01697f));
		background: -webkit-linear-gradient(top, #00748d 0%, #01697f 100%);
		background: -o-linear-gradient(top, #00748d 0%, #01697f 100%);
		background: -ms-linear-gradient(top, #00748d 0%, #01697f 100%);
		background: linear-gradient(to bottom, #00748d 0%, #01697f 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00748d', endColorstr='#01697f',GradientType=0 );
		border-color: #01697f;
		> tr{
				border: 1px solid #01697f;
				> th {
					border-color: #01697f;
					border: 1px solid #01697f;
				}
    }

    th > a > i {

      color: $link-icon-color;

      &:visited {
        color: $link-icon-color;
      }
      &:hover {
        color: $link-icon-color;
      }
      &:active {
        color: $link-icon-color;
      }
      &:link {
        color: $link-icon-color;
      }
    }

    .sub-header  {
      > header {
        border-color: $sub-header-bg-color;
      }
      border: 1px solid $sub-header-bg-color;
    }
    th > a, th > span > a {
      color: $link-icon-color;
    }

    .underline-link {
      text-decoration: none;
      font-weight: normal;
      border-bottom: 1px solid #ffffff;
    }
		button { // put button on right side of table header and remove some of the extra padding
		 margin: 0 !important;
		 float: right;
		}
	}
	.no-results {
		text-align: center;
	}
	.row-expanded {
		font-weight: bold;
	}
	td {
		border: 1px solid #ced6da;
		height: 100%;
	}
	label {
		width: 100%;
		height: 100%;
		font-weight: normal;
		margin-bottom: 0px;
	}
	th.mid-table {
		color: #fff;
		background-color: #3c97aa;
		border: none;
	}
	tr.sub-header {
		> th {
			background-color: $sub-header-bg-color;
			border: 1px solid #3da4b6;
		}
	}
	tr.rotated-sub-header {
		background-color: $sub-header-bg-color;
		border: none !important;
		border: solid 1px #3da4b6;
		color: #ffffff;

		&.taller {
			height: 85px;
		}
    &.rotated-sub-header-border th {
      border-right: solid 1px #3da4b6 !important;
      &:last-child {
        border-right: none !important;
      }
    }
    th.col-slider {
      border-left: solid 1px #3da4b6 !important;
      border-right: solid 1px #3da4b6 !important;
    }

		> th {
			vertical-align: top;
			border: none;
			&.totals, &.slider {
				border-left: solid 1px #3da4b6 !important;
			}
			&.year {
				padding: 0px;
				> div {
					padding: 10px;
					color: #ffffff;
					border: solid 1px #3da4b6 !important;
					border-top: none !important;
					border-right: none !important;

					//TODO
					margin-left: 84px;
          margin-right: -84px;
				}
				&.multiyear-2-1, &.multiyear-3-2, &.multiyear-1- {
          > div {
            margin-right: 0;
          }
        }
			}
		}
	}
	th.rotate-45 {
		vertical-align: bottom !important;
		white-space: nowrap;
		background-color: transparent;
		border-right: none !important;
		border-left: none !important;
		padding: 0px;

		> div {
			color: #fff;
			padding: 5px 10px;

			&.divider {
				padding: 0px;
				border-top: solid 1px #3da4b6 !important;
				width: 120px;
				transform:
			    translate(-18px, -13px) /* Magic Numbers */
			    rotate(315deg); /* 45 is really 360 - 45 */
			}
		}
	}

	tr.subtotal {
		font-weight: bold;
		background-color: #fff0cf !important;
		border: 2px solid #ffe2a1 !important;
		border-left: none !important;
		border-right: none !important;
		td {
			border-right: 1px solid #ffe2a1 !important;
			&:last-child {
				border-right: none !important;
			}
		}
	}
	tr.total {
		font-weight: bold;
		background-color: #ffe2a1 !important;
		border: 2px solid #e2c686 !important;
		border-left: none !important;
		border-right: none !important;
		td {
			border-right: 1px solid #e2c686 !important;
			&:last-child {
				border-right: none !important;
			}
		}
	}
  th.col-width-30 {
    width: 30%;
  }
  th.col-width-25 {
    width: 25%;
  }
  th.col-width-20 {
    width: 20%;
  }
  th.col-width-15 {
    width: 15%;
  }
  th.col-width-10 {
    width: 10%;
  }
}

.border-collapse-separate {
  border-collapse: separate;
}

.table-manage-personnel-modal {
  border-style: none;
  font-weight: bold;
}

.table-bordered {
	border-top: none;
}

table.nested-simple-table {
	background: transparent !important;
	margin-bottom: 0;
	margin-left: 22px;
	&.table-no-border {
		td:first-child {
			border-right: none !important;
		}
		td {
			border-top: none;
			padding: 0;
		}
	}

}

table.table > tbody > tr {
	> td.no-border {
		border: none;
	}
	&.contains-table {
		border-right: 1px solid #ced6da;
		> td {
			border: none;
			padding-top: 0;
		}
	}
	> td.contains-table {
		border: none;
	}
	&.primary-row.row-odd {
		background-color: #f5f7f8;
		// -webkit-transition: background 0.3s linear;
		// -moz-transition: background 0.3s linear;
		// -ms-transition: background 0.3s linear;
		// -o-transition: background 0.3s linear;
		// transition: background 0.3s linear;
	}
	&.secondary-row.row-odd {
		background-color: #f5f5f5;
		// -webkit-transition: background 0.3s linear;
		// -moz-transition: background 0.3s linear;
		// -ms-transition: background 0.3s linear;
		// -o-transition: background 0.3s linear;
		// transition: background 0.3s linear;
	}
}

table.table-no-border {
	border: none;
	> tbody, tr, td {
		border: none;
	}

	td.no-border {
		border-right: none !important;
	}
  td.dividing-character {
    text-align: center;
    padding-top: 12px;
    padding-left: 0;
    padding-right: 0;
  }

	td {
    &.col-budget-amounts, &.col-budget-total {
      border-right: 1px solid #ced6da !important;
    }
    &:first-child {
      border-right: 1px solid #ced6da !important;
    }
  	&:last-child {
  		border-right: none !important;
  	}
    &.slider-col {
      border-right: 1px solid #ced6da;
      border-left: 1px solid #ced6da;
    }
	}
}

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: #ffffff;
  }
  > tbody > tr:nth-of-type(even) {
    background-color: #f5f7f8;
  }
}

.table-fixed {
	table-layout: fixed;
}

.td-button {
	padding: 2px !important;
	vertical-align: inherit !important;
}

td .table-lettering {
  display: inline-block;
  min-width: 16px;
  vertical-align: top;
}
td .table-lettering-text {
  display: inline-block;
  width: 85%;
}

.collapsed {
	border-collapse: collapse;
}

.table-grouped {
	td {
		border-top: none !important;
		border-bottom: none !important;
	}
	>tbody + tbody {
    border-top: none;
  }
}
.grey-tbody {
	background-color: #f5f7f8;
}


.table {
  .vertical-top {
    vertical-align: top;
  }
}

tbody.bordered-tr {
	tr {
		border-bottom: 1px solid #ced6da;
	}
	tr:last-child {
		border-bottom: none;
	}
}
