{{title model.proposalsPageTitle replace=true}}

<div>
  {{bread-crumbs}}
</div>

<div class="col-xs-12">
  {{#page-container title=model.proposalsTypeTitle}}
    {{outlet}}
  {{/page-container}}
</div>