<div class="modal" id={{concat componentId "-unsavedExitConfirmationModal"}} tabindex="-1" role="dialog" aria-labelledby="unsavedExitConfirmationModalLabel" data-test-unsaved-exit-confirm-modal>
    <div class="modal-dialog-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="unsavedExitConfirmationModalLabel" data-test-unsaved-exit-confirm-modal-title>Warning: Unsaved Data</h4>
            </div>
            <div class="modal-body">
                <p data-test-unsaved-exit-confirm-modal-text>You are about to leave a page that has unsaved data.<br/><br/>If you leave the page without saving, your information will be lost.<br/><br/>Are you sure you want to leave this page?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" {{action 'confirmExit'}} data-test-unsaved-exit-confirm-button>Leave this Page</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" {{action 'cancelExit'}} data-test-unsaved-exit-confirm-close-button>Stay on this Page</button>
            </div>
        </div>
    </div>
</div>
