
<div class="col-xs-12">

    <div class="panel">
        <h1 class="panel-title h1">Proposal Service Unavailable</h1>

        <div class="panel-body">
            <p>
                The Proposal Management Service is currently unavailable. We apologize for the inconvenience. Please
                try your request again later.
            </p>
            <p>
                If the issue persists, you may contact the Help Desk at <a href="mailto:ithelpcentral@nsf.gov" target="_top">ithelpcentral@nsf.gov</a>
                or 800-381-1532.
            </p>
        </div>

    </div>

</div>
