<div class="panel-body app-loading panel-body-loading">
    <div class="row">
        <div class="logo-container col-xs-12">
            <div class="logo bottom-m"></div>
            <p class="text-center">Loading...</p>
            <p class="text-center"><span class="fa fa-spinner fa-pulse fa-spin fa-3x"></span></p>
        </div>
    </div>
</div>
